@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  ::-webkit-scrollbar{
    @apply w-2 md:w-3 transition duration-300
  }
  
}

body{
 /*::-webkit-scrollbar{
    @apply w-2 md:w-3 opacity-0 
  }
  ::-webkit-scrollbar-track{
    @apply bg-[#16475b] opacity-0
  }
  ::-webkit-scrollbar-thumb{
    @apply bg-[#04212d] rounded-full opacity-0
  }*/
   overflow-x:hidden;
   overflow-y:overlay;
}

/* TOP MENU */


.top-menu{
   display:flex;
   top:0;
   width:100%;
   position:fixed;
   justify-content: space-between;
   align-items: center;
   padding-left:40px;
   padding-right:40px;
   padding-top:30px;
   padding-bottom:5px;
   transition:1s ease-in-out;
   background-color:rgba(240, 248, 255, 0.057);
   backdrop-filter: blur(20px);
   z-index: 49;
}

.top-menu-scrolled{
   padding-top:5px;
   padding-bottom:5px;
}

#searchSection{
  border:solid 0px;
  border-radius:0px;
  border-color: rgba(0, 0, 0, 0.455);
  transition:0.5 ease-in-out
}

#searchSection.searchVisible{
   border:solid 1px;
   border-radius:35px;
}

.myInput{
  scale:0;
  transition: 0.5s ease-out;
}

.myInput-visible{
  scale:1;
}

.searchInput{
  width:0;
  transition:0.5s ease-in;
}

.searchInput.searchInputVisible{
  width:200px;
}

#logo{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar{
  background-color:rgba(232, 241, 255, 0.104);
}

::-webkit-scrollbar:hover{
  background-color:rgba(232, 241, 255, 0.47);
}

::-webkit-scrollbar-thumb{
  background-color: #0e1c22c2;
}


/*html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}*/
